.DriverProgressPageHeader {
    text-align: center;
}

.DriverProgressPage .jumbotron {
    background-color:rgba(255, 102, 82, 0.8);
   /* text-shadow: -1px -1px 0 #f5beb4, 1px -1px 0 #f5beb4, -1px 1px #f5beb4, 1px 1px 0 #f5beb4;*/
    color: black;
    background-image: url('../styles/2108.i201.035.F.m004.c9.car\ accidents\ isometric.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 500px;
    background-position-x: -80px;
    background-position-y: -40px ;
}

.DriverProgressPage .DriverDetails {
    text-align: center;
}

.DriverProgressPage .DriverDetails .Details .DetailContainer {
    padding: 5%;
}

.DriverProgressPage .DriverDetails .Details .DetailContainer .DetailLabel {
    font-weight: 700;
    font-size: large;
    width: 100%;
}

.DriverProgressPage .spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.DriverProgressPage .DriverProgressPageCenter {
    text-align: center;
}

.DriverProgressPage .DriverProgressPageCenter button {
    color: white;
    background-color: rgba(255, 102, 82, 0.8);
    border-color: white;
    margin-top: 1em;
}

.DriverProgressPage .DriverProgressPageCenter .driverArrived  button {
    color: black;
    background-color: red;
    border-color: red;
}

.DriverProgressPage .progressBarContainer {
    width: 75%;
    margin: auto;
    height: 2em;
}

.DriverProgressPage .arrivalTimeProgressBarContainer {
    width: 75%;
    margin: auto;
}

.DriverProgressPage .cancelButtonContainer button {
    color: white;
    background-color: black;
    border-color: black;
}
